* {
    margin: 0px;
    padding: 0px;
}
a {
    cursor: pointer;
}
body {
    background-color: rgb(236, 187, 126);
}
header {
    background-color: rgba(252, 238, 192, 0.988);
    padding-left: 10px;  
    height: 140px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 15px 0px #333;
}
header a img {
    display: inline;
    align-items: left;
}
h1 {
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: rgb(26, 22, 14);
    margin-left: 10px;
}
#encabezado h2 {
    font-family: 'Rubik', sans-serif;
    margin-right: 20px;
    display: none;
}
#encabezado a:hover {
    color: rgb(175, 119, 45);
}
h2 a{
    color: rgb(26, 22, 14);
    text-decoration: none;
    font-size: 25px;
}
#encabezado {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
#encabezado img {
    width: 80px;
    height: 80px;
    margin-left: 75px;
}
.fondo {
    background-color: rgb(8, 8, 8);
    width: 100%;
    height: 100px;
}
.imagen-ppal img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.menu {
    color: rgb(247, 220, 147);
    font-size: 25px;
    list-style-type: none;
    text-align: center;
    background-color: rgb(102, 58, 28);
    box-shadow: 0px 0px 10px 0px #333;
}
.menu li {
    display: inline-block;
}
.menu li a {
    background-color: rgba(252, 238, 192);
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.menu li a:link {
    color: rgb(32, 18, 10);
    font-size: 25px;
}
.menu li a:hover {
    background-color: rgb(245, 200, 141);
}
.menu li a {
    float: left;
    background-position: center center;
}
.menu :visited {
    color:black;
}



body{margin:0;padding:0;}
.hamburger{
	position:fixed;
    background-color:transparent;
	left: 82%;
	top: 7%;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
    background-color:none;
}
._layer{
	background:#333333;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
    transform: translate3d(0px, 0px, 0px);
}
.menuppal{
    background-color: rgba(236, 192, 150, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
    margin:30px;
    padding:0;
}
.menuppal ul li { 
    list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:rgb(175, 119, 45);
	font-size:1.5rem;
	line-height: 3 em;
	height:3em;
    color:rgb(236, 187, 126);
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
    text-decoration:none;
    color:rgb(8, 8, 8);
}
.menuppal ul li a:hover{
    text-decoration:none;
    color:rgb(163, 140, 140);
}




.mas-vistas {
    background-color: rgba(233, 138, 61, 0.315);
    font-family: 'Rubik', sans-serif;
    width: 100%;
    text-align: center;
    height: 1600px;
}
h2 { 
    font-size: 35px;
}
.bloque1 {
    background-color: rgb(252, 238, 192);
    width: 300px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px #333;
}
.bloque1 a {
    color: rgb(8, 8, 8);
    text-decoration: none;
}
.mas-vistas img {
    width: 100%;
    height: 185px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.mas-vistas p {
    width: 200px;
    height: 70px;
    margin-left: 50px;
}
.bloques {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.cursos {
    background-color: rgb(252, 238, 192);
    font-family: 'Rubik', sans-serif;
    width: 100%;
    text-align: center;
    height: 1600px;
}
.bloque2 {
    background-color: rgb(236, 187, 126);
    width: 300px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px #333;
}
.bloque2 a {
    color: rgb(8, 8, 8);
    text-decoration: none;
}
.cursos img {
    width: 100%;
    height: 185px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cursos p {
    width: 200px;
    height: 70px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.bloques2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
h3 {
    background-color: rgba(233, 138, 61, 0.315);
    font-family: 'Rubik', sans-serif;
    text-align: center; 
    font-size: 25px;
}


footer {
    text-align: center;
    background-color: rgb(8, 8, 8);
    color: rgb(219, 193, 138);
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
}
.titulo-footer {
    padding: 8px 0px 20px 0px;
}
.contacto li a {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}
footer a {
    color: rgb(219, 193, 138);
}
.iconos {
    display: flexbox;
    text-align: none;
    flex-direction: row;
    margin: 50px;
    text-decoration: none;
}
.divisor {
    visibility: hidden;
}
.copyright {
    color: rgb(219, 193, 138);
    display: flex;
    justify-content: end;
    font-size: 14px;
    margin-right: 8px;
    margin-top: 18px;
}


@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .mas-vistas {
        height: 870px;
    }
    .cursos {
        height: 870px;
    }
    .bloques {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bloques2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .bloque1 {
        width: 250px;
        height: 350px;
        margin-left: 35px;
        margin-top: 20px;
    }
    .mas-vistas p {
        width: 200px;
        height: 70px;
        margin-left: 25px;
    }
    .bloque2 {
        width: 250px;
        height: 350px;
        margin-left: 35px;
        margin-top: 20px;
    }
    .cursos p {
        width: 200px;
        height: 70px;
        margin-left: 25px;
    }
    header {
        height: 120px;
    }
    h1 {
        float: left;
        font-family: 'Rubik', sans-serif;
        font-size: 35px;
        color: rgb(26, 22, 14);
        margin-left: 10px;
    }
    #encabezado img {
        display: block;
    }
    #encabezado h2{
        font-family: 'Rubik', sans-serif;
        float: right;
        margin-right: 20px;
        display: initial;
    }
    #encabezado {
        display: inline;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: normal;
    }
    .contacto {
        height: 140px;
        padding: 18px;
    }
    .iconos {
        text-align: none;
        flex-direction: none;
        margin: 0px;
        text-decoration: none;
    }
    .titulo-footer {
        display: block;
        font-size: 26px;
    }
    .contacto ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin-top: 30px; 
        font-size: 22px;
    }
    .divisor {
        visibility: visible;
    }
    .copyright {
        margin-top: 0px;
    }
}
@media (min-width: 1200px) {
    .mas-vistas {
        height: 500px;
    }
    .cursos {
        height: 500px;
    }
    .titulo-footer {
        font-size: 22px;
    }
    .contacto {
        height: 120px;
    }
    .titulo-footer {
        padding: 8px 0px 0px 0px;
    }
}
